<%- include('./parts/head.ejs') -%>
<%- include('./parts/nav.ejs') -%>
<div id="aboutus" class="fw-bold bg-muted bg-gradient border rounded border-5 border-warning shadow-lg container p-5 mt-5 mb-5 text-success">
    <h1 class="mb-5">About Us</h1>
    <p class="fs-4 mb-5 lh-lg fst-italic">
        We want to bring the community of calisthenic enthusiasts together
        from all over the world! <br> We want to present the WORLD of calisthenics
        and help those who want to achieve superhuman strength! <br> <br> By signing up,
        one will have access to a list of different vertical and horiztonal exercises.
        Along with those exercises, our website will provide a list of static 
        and dynamic movements in order to perfect the desired skill move. <br><br>
        Join the calisthenics community and achieve what looks 
        impossible but is possible!
    </p>
</div>
<div class="container text-center pb-3">
    <img class="rounded shadow-lg mb-3" src="https://i.pinimg.com/564x/bb/8e/f5/bb8ef54b9b2bf4368a8f7593f3c81ef5.jpg" alt="handstand clap" width="500" height="500">
</div>
<footer class="text-center container-fluid bg-warning bg-gradient">
    <h6 id="copyright" class="text-dark fs-6">Copyright 2021 @ Calisthenics Motivation Corporation</h6>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>