<%- include('./parts/head.ejs') -%>
<%- include('./parts/nav.ejs') -%>
<header>
    <div class="bg container-fluid bg-dark my-5 p-3 shadow-lg rounded-pill border border-5 border-warning">  
      <h1 class="well fw-bold fs-1 text-success">Welcome to the WORLD of Calisthenics!</h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="img-fluid shadow-lg p-1 mb-2 rounded" src="https://i.pinimg.com/564x/86/4e/c5/864ec52227e9e9611c1522fa64bae3fa.jpg" alt="one-arm-handstand" width="500" height="100">
          </div>
          <div class="col">
            <img class="img-fluid shadow-lg p-1 mb-2 rounded" src="https://i.pinimg.com/564x/21/14/ea/2114eaef598ecf0d43f470f560c11904.jpg" alt="one-arm-frontlever" width="500" height="100">
          </div>
          <div class="col">
            <img class="img-fluid shadow-lg p-1 mb-2 rounded" src="https://www.andrealarosa.fit/wp-content/uploads/2019/05/Planche-1024x1024.jpg" alt="full-planche" width="500" height="100">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="img-fluid shadow-lg p-1 mb-2 rounded" src="https://i.pinimg.com/564x/64/ff/33/64ff33a6f6c675bf9841aadb90eb7072.jpg" alt="human-flag" width="500" height="100">
          </div>
          <div class="col">
            <img class="img-fluid shadow-lg p-1 mb-2 rounded" src="https://i.ytimg.com/vi/iDKDW6xRa4g/maxresdefault.jpg" alt="L-Sit" width="500" height="100">
          </div>
          <div class="col">
            <img class="img-fluid shadow-lg p-1 mb-2 rounded" src="https://i.ytimg.com/vi/lOIe4VvhGzs/maxresdefault.jpg" alt="back-lever" width="500" height="100">
          </div>
        </div>
    </div>
    <div class="text-center m-3 p-2">
      <a id="blogsBtn" class="shadow-lg btn-warning border border-3 border-warning" href="/blogs">Click here to access our blogs!</a>          
    </div>
    <div class="shadow-lg border border-5 border-warning rounded bg-muted bg-gradient fs-5 fw-bold text-success container my-5 lh-lg">
      <p>
        <ul>
          <li>Learn how to achieve superhuman strength such as these superhuman
            beasts in these photos!</li> 
          <li>Sign up now and have access to tons of
            different exercises!</li>
          <li>Share your hard working experiences with the 
            community!</li>
          <li>Lets help each other achieve superhuman 
            strength worldwide!</li>
        </ul>
      </p>
    </div>
</header>
<%- include('./parts/footer.ejs') -%>
</body>
</html>